<div class='search_field'>
  <%= form_tag(search_path, method: :get) do %>
    <%= text_field_tag :search %>
    <%= select_tag 'model_select', options_for_select(['User', 'Book']) %>
    <%= select_tag 'search_select', options_for_select(['完全一致', '前方一致', '後方一致', '部分一致']) %>
    <%= submit_tag '検索' %>
  <% end %>
</div>